.highlight {
	max-width:600px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #f7f7f9;
    border-radius:0.3em;
    overflow:hidden;
}
.preloadedImages {
       width: 0px;
       height: 0px;
       display: inline;
}