.highlight {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f7f7f9;
    border-radius:0.3em;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.preloadedImages {
       width: 0px;
       height: 0px;
       display: inline;
}