<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleme.dao.AltDao">
	<resultMap type="com.eleme.entity.Alt" id="AltResult">
		<result property="id" column="id"/>
		<result property="avatar" column="avatar"/>
		<result property="elemeKey" column="elemeKey"/>
		<result property="useNum" column="useNum"/>
		<result property="phoneNum" column="phoneNum"/>
	</resultMap>
	
	<parameterMap id="Alt" type="com.eleme.entity.Alt"/>
	
	<sql id="Alt_Column_List">
		id, avatar, elemeKey, useNum,phoneNum
	</sql>
	
	<select id="findById" resultMap="AltResult" parameterType="Integer">
		select
		<include refid="Alt_Column_List" />
		from hb_alt where id=#{id}
	</select>
	
	<update id="addUseNum">
		update hb_alt set useNum = useNum + 1 where id=#{id}
	</update>
	
	<update id="changePhoneNum" >
		update hb_alt set phoneNum = #{phoneNum} where id = #{id}
	</update>
	
	<select id="findMaxId" resultType="Integer">
		select max(id) from hb_alt
	</select>
	
	<insert id="insertCookie" >
		insert into hb_alt_cache (avatar,elemeKey,phoneNum,useNum,errorNum) values (#{avatar},#{elemeKey},#{phoneNum},0,0);
	</insert>
	
	<select id="checkCookieRepeat" resultType="Integer">
		select (select count(*) from hb_alt where elemeKey = #{elemeKey})+(select count(*) from hb_alt_cache where elemeKey = #{elemeKey}) as sum_count;
	</select>
	
	<select id="getNextId" resultType="Integer">
		select ifnull((select id from hb_alt where id != #{id} order by useNum,id asc limit 1),0)
	</select>
	
	<update id="addErrorNum">
		update hb_alt set errorNum = errorNum + 1 where id=#{id}
	</update>
	
	<select id="traversalId" resultType="Integer">
		select ifnull((select id from hb_alt where id > #{id} order by id asc limit 1),0)
	</select>

</mapper>