<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleme.dao.UserDao">

	<select id="checkUser" resultType="String">
		select phone from hb_user where phone = #{phone};
	</select>
	
	<select id="getBalance" resultType="Integer">
		select balance from hb_user where phone = #{phone};
	</select>
	
	<insert id="insertUser" >
		insert into hb_user (phone,balance,allMoney,allUseNum) values (#{phone},5,0,0);
	</insert>
	
	<update id="addUserNum" >
		update hb_user set allMoney = allMoney + #{money},allUseNum = allUseNum + 1 where phone = #{phone};
	</update>
	
	<update id="addBalance" >
		update hb_user set balance = balance + #{price} * 20 where phone = #{phone};
	</update>
	
	<update id="reduceBalance" >
		update hb_user set balance = balance - #{time} where phone = #{phone};
	</update>
	
</mapper>